<section class="project_section" id="project_section">
    <div class="project_head">
        <h2>My Projects</h2>
    </div>
    <div class="data_box">
        <div class="box">
            <div class="img_container">
                <img src="./images/weather.jpeg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://temp-app-pankajprogrammin.herokuapp.com/">Weather Forecast</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js,express js,API
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/Flipkart.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://ecommerce-by-pankaj.herokuapp.com/">clone(without responsive)</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js, API
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/portfolio.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="">Portfolio</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>